@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
}
